// Badges

// scss-docs-start badge-variables
$badge-font-size:                   .75em;
$badge-font-weight:                 500;
$badge-color:                       $white !default;
$badge-padding-y:                   .25rem !default;
$badge-padding-x:                   .5rem !default;
$badge-border-radius:               $border-radius-pill !default;
// scss-docs-end badge-variables
