$white:                     #fff;
$black:                     #000;

$gray-50:                   #f4f6f7;
$gray-100:                  #e2e8eb;
$gray-200:                  #c8d3d9;
$gray-300:                  #a2b4be;
$gray-400:                  #758c9b;
$gray-500:                  #5a7180;
$gray-600:                  #4d5f6d;
$gray-700:                  #43505b;
$gray-800:                  #3c454e;
$gray-900:                  #353c44;
$gray-950:                  #20252c;

$neutral-50:                   #f4f6f7;
$neutral-100:                  #e2e8eb;
$neutral-200:                  #c8d3d9;
$neutral-300:                  #a2b4be;
$neutral-400:                  #758c9b;
$neutral-500:                  #5a7180;
$neutral-600:                  #4d5f6d;
$neutral-700:                  #43505b;
$neutral-800:                  #3c454e;
$neutral-900:                  #353c44;
$neutral-950:                  #20252c;

$blue:                      #0163a3;
$indigo:                    #4138ca;
$purple:                    #6f2dd4;
$pink:                      #be185b;
$red:                       #d40101;
$orange:                    #c23a0c;
$yellow:                    #b07500;
$green:                     #326922;
$teal:                      #20c997;
$cyan:                      #0dcaf0;

/* Blue */
$blue-50:                   #f0f8ff;
$blue-100:                  #e0f1fe;
$blue-200:                  #b9e4fe;
$blue-300:                  #7ccefd;
$blue-400:                  #36b7fa;
$blue-500:                  #0c9eeb;
$blue-600:                  $blue; //#0083d2;
$blue-700:                  #0163a3;
$blue-800:                  #065486;
$blue-900:                  #0b466f;
$blue-950:                  #072d4a;
// $blue-100: #DEF1FF;
// $blue-200: #B6E6FF;
// $blue-300: #76D3FF;
// $blue-400: #2DBDFF;
// $blue-500: #02A6F5;
// $blue-600: $blue; // #0083d2
// $blue-700: #0069AA;
// $blue-800: #005d93;
// $blue-900: #074973;
// $blue-950: #042F4D;

/* Indigo */
$indigo-100: #e2e0ff;
$indigo-200: #cac7fe;
$indigo-300: #aaa5fc;
$indigo-400: #8881f8;
$indigo-500: #6c63f1;
$indigo-600: #5046e5;
$indigo-700: #4138ca;
$indigo-800: #3730a3;
$indigo-900: #332e81;
$indigo-950: #1e1b4b;

/* Purple */
$purple-100: #edeafd;
$purple-200: #ded7fd;
$purple-300: #c6b7fb;
$purple-400: #aa8ef7;
$purple-500: #8e60f2;
$purple-600: #7e3fe8;
$purple-700: #6f2dd4;
$purple-800: #5d25b2;
$purple-900: #4e2092;

/* Pink */
$pink-100: #fce7ef;
$pink-200: #fbcfe1;
$pink-300: #f9a8c9;
$pink-400: #f472a6;
$pink-500: #ec488a;
$pink-600: #db2770;
$pink-700: #be185b;
$pink-800: #9d174d;
$pink-900: #831843;

/* Red */
$red-100: #fdd;
$red-200: #ffc1c1;
$red-300: #ff9696;
$red-400: #ff5a5a;
$red-500: #ff2727;
$red-600: #fb0707;
$red-700: #d40101;
$red-800: #ae0606;
$red-900: #900c0c;

/* Orange */
$orange-100: #ffe0d5;
$orange-200: #febfaa;
$orange-300: #fd9674;
$orange-400: #fb6c3c;
$orange-500: #f94f16;
$orange-600: #ea430c;
$orange-700: #c23a0c;
$orange-800: #9a3412;
$orange-900: #7c2d12;

/* Yellow */
$yellow-100: #faffbd;
$yellow-200: #faff7e;
$yellow-300: #fffe35;
$yellow-400: #fff100;
$yellow-500: #ffd600;
$yellow-600: #dea500;
$yellow-700: $yellow; // #B07500;
$yellow-800: #915b02;
$yellow-900: #7a4909;

/* Green */
$green-100: #dff3d4;
$green-200: #c0e9ad;
$green-300: #98d97d;
$green-400: #75c754;
$green-500: #56ac36;
$green-600: #3f8927;
$green-700: $green; //#326922;
$green-800: #2c5420;
$green-900: #27481f;
$green-950: #11270c;

$cas-brown: #0e0800;
$cas-yellow: #cda871;

/* cas */
$cas-50: #fffaeb;
$cas-100: #fff1c6;
$cas-200: #ffe188;
$cas-300: #ffcc4a;
$cas-400: #ffbc33;
$cas-500: #f99307;
$cas-600: #dd6c02;
$cas-700: #b74a06;
$cas-800: #94380c;
$cas-900: #7a2f0d;
$cas-950: #461702;

//
// Only works if $enable-gradients is set to true
//
$gradient: linear-gradient(180deg, $blue-200, rgba($blue-200, .5)) !default;

$body-color:                  $gray-950;
$body-bg:                     $white;
$body-secondary-color:        $gray-500;
$body-secondary-bg:           $gray-200;
$body-tertiary-color:         $gray-400;
$body-tertiary-bg:            $gray-50;
$body-emphasis-color:         $black;
$transparent: transparent;

$background-transparent-info: rgba(0, 131, 210, .2);

$border-color: $neutral-400;
$border-secondary: $neutral-200;
$border-hover: $background-transparent-info;
$border-active: $blue-800;
$border-color-brand: #ffbc33;

$text-link: $blue-700;
$text-link-hover: $blue-800;

// scss-docs-start theme-color-variables
$primary:       $blue !default;
$secondary:     $gray-500 !default;
$success:       $green !default;
$info:          #106fdf !default;
$warning:       $orange-700 !default; // normally $yellow-600 but changed due to similarity with brand color
$danger:        $red !default;
$light:         $gray-50 !default;
$dark:          $gray-950 !default;
// scss-docs-end theme-color-variables

// scss-docs-start theme-text-variables
$primary-text-emphasis:   $blue-900;
$secondary-text-emphasis: $gray-900;
$success-text-emphasis:   $green-900;
$info-text-emphasis:      $blue-700;
$warning-text-emphasis:   $orange-900;
$danger-text-emphasis:    $red-900;
$light-text-emphasis:     $gray-700 !default;
$dark-text-emphasis:      $gray-700 !default;
// scss-docs-end theme-text-variables

// scss-docs-start theme-bg-subtle-variables
$primary-bg-subtle:       rgba(0, 93, 147, .1);
$secondary-bg-subtle:     rgba(55, 48, 163, .2);
$success-bg-subtle:       rgba(44, 84, 32, .2);
$info-bg-subtle:          rgba(0, 131, 210, .2);
$warning-bg-subtle:       rgba(138, 90, 9, .2);
$danger-bg-subtle:        rgba(174, 6, 6, .2);
$light-bg-subtle:         rgba(226, 231, 235, .2);
$dark-bg-subtle:          $gray-200 !default;
// scss-docs-end theme-bg-subtle-variables

// scss-docs-start theme-border-subtle-variables
$primary-border-subtle:   $blue-200;
$secondary-border-subtle: $neutral-100;
$success-border-subtle:   $green-200;
$info-border-subtle:      $blue-50;
$warning-border-subtle:   $orange-200;
$danger-border-subtle:    $red-200;
$light-border-subtle:     $gray-100;
$dark-border-subtle:      $gray-200;
// scss-docs-end theme-border-subtle-variables
