.page-header {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: .5rem 1.25rem;
  background-color: $body-bg;
}
.page-header-text {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 20px;
  align-items: flex-start;
  align-self: stretch;
  justify-content: flex-start;
  padding: .75rem 0;
}
.top-page-header {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: stretch;
  justify-content: flex-start;
  padding: .25rem 0 0;
}
.header-subheader {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.logo-text-badge-link {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0;
}
.header-label {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.button-stripe {
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 8px;
  align-items: center;
  justify-content: flex-end;
  padding: 0;
}
.breadcrumb {
  .breadcrumb-item a {
    font-weight: $font-weight-normal;
    color: $link-color;
  }
}
